<!-- <h1 *ngFor="let data of user | keyvalue">
  {{ data.value }}
</h1> -->
<h1 *ngFor="let post of posts">
  {{ post.title }}
</h1>
<p-toast position="top"></p-toast>
<p-dialog
  header="{{ dialog.title }}"
  [closable]="false"
  [modal]="true"
  [breakpoints]="{ '768px': '90vw' }"
  [visible]="dialog.show"
>
  <div class="dialog-content-ctn">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"
        ><img src="assets/icons/mail.svg" alt=""
      /></span>
      <span class="p-float-label p-input-icon-right">
        <input
          name="title"
          [(ngModel)]="post.title"
          type="text"
          pInputText
          class="post-title"
        />
        <i class="pi pi-exclamation-circle"></i>
        <label for="float-input">Insira o título do texto.</label>
      </span>
    </div>

    <quill-editor
      [(ngModel)]="post.text"
      name="text"
      placeholder="Insira seu texto..."
      [modules]="modules"
    >
    </quill-editor>
    <div class="field-checkbox">
      <p-checkbox
        name="pin-post"
        [(ngModel)]="post.pinned"
        [binary]="true"
      ></p-checkbox>
      <label for="pin-post">Fixar esse post no meu perfil</label>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-success" (click)="sendPost()">
      Confirmar
    </button>
    <button pButton class="p-button-danger" (click)="toggleDialog()">
      Cancelar
    </button>
  </ng-template>
</p-dialog>
<p-speedDial
  [model]="items"
  className="speeddial-right"
  direction="up"
></p-speedDial>
