<main class="feed-page">
  <section
    *ngFor="let post of posts"
    class="feed-page__post"
    (click)="showPost(post)"
  >
    <div class="post__person-info">
      <p-avatar
        shape="circle"
        size="large"
        [style]="{
          backgroundColor: null | randomAvatarBackgroundColor
        }"
        [label]="post.user.name | personInitials"
      ></p-avatar>
      <div class="info-ctn">
        <p>
          {{ post.user.name }},
          {{ post.user.birthday | age }}
        </p>
        <p>teste</p>
      </div>
    </div>
    <div class="post__info">
      <div class="post__extra-info date">
        <img src="assets/icons/calendar.svg" alt="" />
        <p>{{ post.date | convertToDate }}</p>
      </div>
      <!-- <div class="post__extra-info tags">
        <img src="assets/icons/tags.svg" alt="" />
        <p-chip label="História" styleClass="mr-2 custom-chip"></p-chip>
        <p-chip label="Engraçada" styleClass="mr-2 custom-chip"></p-chip>
      </div> -->
      <div class="post__content">
        <h1 class="post__title">
          {{ post.title }}
        </h1>
        <p class="post__text" [innerHtml]="post.text | slice: 0:75">
          {{ post.text | extractHtmlText | slice: 0:75 }}
        </p>
      </div>
      <img class="post-image" src="assets/images/post-placeholder.png" alt="" />
    </div>
  </section>
</main>

<p-toast position="top"></p-toast>
<p-dialog
  header="{{ dialog.title }}"
  [closable]="false"
  [modal]="true"
  [breakpoints]="{ '768px': '90vw' }"
  [visible]="dialog.show"
>
  <div class="dialog-content-ctn">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"
        ><img src="assets/icons/mail.svg" alt=""
      /></span>
      <span class="p-float-label p-input-icon-right">
        <input
          name="title"
          [(ngModel)]="post.title"
          type="text"
          pInputText
          class="post-title"
        />
        <i class="pi pi-exclamation-circle"></i>
        <label for="float-input">Insira o título do texto.</label>
      </span>
    </div>

    <!-- <p-chips [(ngModel)]="this.post.tags"></p-chips> -->

    <quill-editor
      [(ngModel)]="post.text"
      name="text"
      placeholder="Insira seu texto..."
      [modules]="modules"
    >
    </quill-editor>
    <div class="field-checkbox">
      <p-checkbox
        name="pin-post"
        [(ngModel)]="post.pinned"
        [binary]="true"
      ></p-checkbox>
      <label for="pin-post">Fixar esse post no meu perfil</label>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-success" (click)="sendPost()">
      Confirmar
    </button>
    <button pButton class="p-button-danger" (click)="toggleDialog()">
      Cancelar
    </button>
  </ng-template>
</p-dialog>
<p-speedDial
  [model]="items"
  className="speeddial-right"
  direction="up"
></p-speedDial>
